.social {

  &-top {
    margin-top: 50px;
  }

  &-a {
    width: 10%;
  }

  &-ul {
    margin-top : 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  &-li {
    display: inline;
    margin: 10px;
  }
}
