{{/* This file shows footer social icons. */}}

<div class="social-top">
  <ul class="social-ul">

    {{- range $name, $destination := .Site.Params.social }}
      {{/* social icons */}}
      {{- if $name }}
        {{- $filePath := (print "svg/" $name ".svg") }}
        {{- if $filePath }}
          <li class="social-li">
            <a href="{{ $destination | safeURL }}"
               rel="me noopener"
               class = "social-a"
               title="{{ $name }}"
               target="_blank">
              {{ partial $filePath }}
            </a>
          </li>
        {{- end }}
      {{- end }}
    {{- end }}

  </ul>
</div>

