{{/* This file shows footer social icons. */}}

<div class="social-top">
  <ul class="social-ul">

    {{- range .Site.Params.social.networks }}
      {{ if .identifer }}
        {{ $filePath := (print "svg/" .identifer ".svg") }}
        {{ if $filePath }}
        <li class="social-li">
          <a href="{{ .url | safeURL }}"
             {{ if .disableNoopener }}
             rel="me"
             {{ else }}
             rel="me noopener"
             {{ end }}
             class = "social-a"
             title="{{ .identifer }}"
             target="_blank">
            {{ partial $filePath }}
          </a>
        </li>
        {{ end }}
      {{ end }}
    {{- end }}

  </ul>
</div>
